html{
  border: 0;
  margin-left: 0;
  background-color: #eee;
  --background-color: #F5F5F5;
  height: 100vh;
  --couleur: #d60093;
}
body{
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
header{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
  height: 20%;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--couleur);
}
header > img{
  height: 80%;
}
h2{
  text-shadow: 2px 2px 5px #0006;
}
.center{
  margin: 0 auto;
}
.adroite{
  margin-left: 60%;
}
main{
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  height: 60%;
  margin: 5% auto;
  background-color: var(--background-color);
  width: 60%;
  border: var(--couleur) 2px solid;
  border-radius: 50px;
  box-shadow: 8px 8px 12px #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
}
main > form > table > tbody > tr:last-child{
  height: 50px;
}
tbody > tr:last-child > td:last-child > input{
  display: block;
  margin: auto;
}

td{
  padding: 10px;
}
input{
  border: 2px black double;
  border-radius: 50px;
  box-shadow: 4px 4px 10px #000000b3;
  padding-left: 2px;
  text-align: center;
}
.hidden{
  display: none;
}
